*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.container{

    margin: auto;
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.997);
    
}

img.logo{
    width: 100px;
    border-radius: 30%;
   
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav ul li a:hover{
    color: #ff0022;
}
.contato{
    background: #ff0000;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 30px 0;
    border-radius: 10px;
}
.contato:hover
{
    background: #057edb;
    color: rgb(255, 255, 255);
}

.detalhe{
    margin-left: 8%;
    margin-top: 10%;
}
.detalhe h1{
    font-size: 50px;
    color: #dedede;
    margin-bottom: 20px;
}
span{
    color: #ff0022;
}
.detalhe p{
    color: rgb(158, 154, 154);
    line-height: 22px;
}
.detalhe a{
    background: #ff0022;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 30px 0;
    border-radius: 10px;
}

.images{
    
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    min-width: 320px;
    max-width: 800px;
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .fundo{

    bottom: 40px;
}
.images:hover .corpo{
    left: 45%;

}
.play:hover{
    color: rgb(0, 0, 0);
}
.cv:hover
{
    color: black;
}

@media screen and (max-width: 768px)
{
    body{
        width: 0%
        padding 0px
    }
}

@media(max-width: 800px) {
    .corpo {
     display: none;
 }
}
@media(max-width: 800px) {
    .fundo {
     display: none;
 }
}
@media(max-width: 1200px) {
    .fundo {
     display: none;
 }
}
